snippet html5 "html5" w
<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=yes">
	<title>${1}</title>
</head>
<body>
	${2}
</body>
</html>
endsnippet